<div class="w-full mt-10">
    <form class="relative" (ngSubmit)="onSubmit()" [formGroup]="form">

      <!-- add a start adornement to the input field -->
       <div class="w-full p-6 pb-1 pl-20 rounded-md text-xl bg-white">
           <app-checkbox class="absolute left-6 top-5"></app-checkbox>
           <input type="text" name="add-task" formControlName="text" id="add-task"  placeholder="Create a new todo..." class="w-full outline-none">
           @if(textIsInvalid){
                <p class="text-red-500 text-sm">{{textErrorMessage}}</p>
           }
           @else if(!textIsInvalid) {<p class="h-5"></p>}
       </div>
    </form>
  </div>
