<div [ngClass]="{'dark': mode === 'dark'}">

  <img [src]="mode === 'light' ? 'bg-desktop-light.jpg':'bg-desktop-dark.jpg'" alt="light background" class="w-full absolute -z-10" />
  <div class="sm:max-w-2xl mx-auto">

    <div class="flex justify-between items-center pt-24 text-white tracking-widest">
      <h1 class="text-6xl font-bold ">TODO</h1>
      <button (click)="toggleMode()" >
        <img [src]="mode === 'light' ? 'icon-moon.svg':'icon-sun.svg'" alt="moon icon" />
      </button>
    </div>

    <app-form></app-form>

    <div class="w-full mt-10 bg-white rounded-md container divide-y divide-gray-200">

      <!-- display todos here -->

      <app-todo *ngFor="let todo of todos" text={{todo.text}} [todoId]="todo.id" [done]="todo.done"></app-todo>

      <div class="flex justify-between items-center p-6">
        <div class="text-xl font-bold">3 items left</div>
        <div class="flex">
          <button class="text-xl font-bold">All</button>
          <button class="text-xl font-bold">Active</button>
          <button class="text-xl font-bold">Completed</button>
        </div>
        <button class="text-xl font-bold">Clear Completed</button>
      </div>
    </div>

  </div>
</div>
